body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#FAF9F6;
    color:#333333;
}

/* Header */

<header>
    <div class="container">

        <div class="menu-icon" onclick="toggleMenu()">
            ☰
        </div>

        <h2 class="logo">Study in Türkiye Guide</h2>

    </div>

    <nav id="menu">
        <a href="index.html">Home</a>
        <a href="universities.html">Universities</a>
        <a href="admissions.html">Admissions</a>
        <a href="scholarships.html">Scholarships</a>
        <a href="visa.html">Visa</a>
        <a href="contact.html">Contact</a>
    </nav>
</header>

/* Container */

.container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

/* Logo */

.logo{
    margin:0;
    color:#333333;
}

/* Navigation */

nav{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

nav a{
    color:#333333;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#8A6742;
}

/* Hero Section */

.hero{
    background:linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
               url("herojpg.jpg");
    background-size:cover;
    background-position:center;
    color:white;
    text-align:center;
    padding:140px 20px;
}

.hero h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
}

/* Buttons */

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 26px;
    background:#6B4F3A;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#8A6742;
}

/* Sections */

.features{
    padding:50px 20px;
    text-align:center;
}

/* Cards */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    gap:25px;
    margin-top:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    text-align:left;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

/* Footer */

footer{
    background:#E8DFD1;
    color:#333333;
    text-align:center;
    padding:25px;
    margin-top:50px;
    border-top:1px solid #DDD4C8;
}

/* Mobile */

@media (max-width:768px){

.container{
    flex-direction:column;
    gap:15px;
}

nav{
    justify-content:center;
}

.hero h1{
    font-size:34px;
    
}

.hero p{
    font-size:18px;
}

.cards{
    grid-template-columns:1fr;
}

header{
    background:#F5EFE6;
    padding:15px 25px;
    border-bottom:1px solid #ddd;
}

.menu-icon{
    font-size:30px;
    cursor:pointer;
    color:#333;
}

#menu{
    display:none;
    flex-direction:column;
    padding:15px;
    background:#F5EFE6;
}

#menu a{
    text-decoration:none;
    color:#333;
    padding:12px 0;
    font-weight:bold;
}

#menu a:hover{
    color:#8A6742;
    }
